body{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff0f9;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 48pt;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  color: #ff63c3;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  color: rgb(35, 35, 35);

}
.pTable{
  margin: auto;
  border-collapse:collapse;
  border: 10px solid rgb(35, 35, 35);
}
.pCell{
  padding: 0;
}

/** need to clear space between cells*/
.tile{
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out,;
  border:1px solid black;
}
.tile:hover{
  transform: scale(1.02);
  z-index: 99;
}

.background1 {
  background-image: url("../img/background1.jpg");
}

.background2 {
  background-image: url("../img/background2.jpg");
}

.background3 {
  background-image: url("../img/background3.jpg");
}

.background4 {
  background-image: url("../img/background4.jpg");
}

/** sprite offsets for each tile */
#t1{
  background-position:  0 0;
}
#t2{
  background-position:  -100px 0;
}
#t3{
  background-position:  -200px 0;
}
#t4{
  background-position:  -300px 0;
}
#t5{
  background-position:  0 -100px;
}
#t6{
  background-position:  -100px -100px;
}
#t7{
  background-position:  -200px -100px;
}
#t8{
  background-position:  -300px -100px;
}
#t9{
  background-position:  0 -200px;
}
#t10{
  background-position:  -100px -200px;
}
#t11{
  background-position:  -200px -200px;
}
#t12{
  background-position:  -300px -200px;
}
#t13{
  background-position:  0 -300px;
}
#t14{
  background-position:  -100px -300px;
}
#t15{
  background-position: -200px -300px;
}

.tileNum{
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 32pt;
}

.movablePiece{
  cursor: pointer;
}

.movablePiece:hover{
  text-decoration: underline;
  border: 1px solid red;
  color: #006600;
  z-index: 99;
}


/* for validator icons */
footer{
  text-align: right;
}

/* shaking animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shaking {
  animation: shake 0.8s;
}

/* for the actions buttons */
.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

}
.actions button {
  background-color: #ffaee0; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.2);
}

.actions button:hover {
  background-color: #ff63c3; 
  transform: scale(1.02);
}

.selector {
  font-size: 20px;
  font-weight: bold;
}

select {
  background-color: #ffaee0; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.2);
}



.timer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.2);
  border: 5px solid #ffaee0;
}
#timer{
  color: #ff63c3;
}
.leaderboard{
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0;
  bottom: 50%;
}
.info{
  display: flex;
  gap: 1rem;
}
.winBanner {
  display: none; /*hiding the banner initially*/
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 50%;
  width: 100%;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.7); 
}

/* for the footer */
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

/* moving animations for the tiles */
.moveAnimation{
  animation: move 0.5s;

}
/* using the matrix transform to move the tiles */
@keyframes move {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, -10);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
}
